################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/release
/.vs/ImagePlayer/v16
/debug
/ImagePlayer.vcxproj
/ImagePlayer.vcxproj.user
/ImagePlayer.vcxproj.filters
/ImagePlayer.sln
