################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/debug
/.vs/ImagePlayer/v16

.vs
*.mdb
*.ldb
*.sln


*.o
*.dll
*.exe
*.qmake.stash
*.pro.user

*.vcxproj
*.vcxproj.filters
*.vcxproj.user